{% extends 'base.html' %}

{% block head %}
<title>home</title>
{% endblock%}
{% block navi %}
<li class="nav-item active">
    <a class="nav-link" href="/login">logout</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="#" disabled=’disabled’>Hello {{name}}...</a>
</li>
{% endblock%}
{% block body %}

<hr>
<h2>create your new blog post : </h2>
<form action="/post" method="POST">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Title : </span>
            <input type="text" class="form-control" placeholder="Title" aria-label="Username" aria-describedby="basic-addon1" name='title',id='title'>
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Post : </span>
            <input type="text" class="form-control" placeholder="Content" aria-label="Username" aria-describedby="basic-addon1" name='content',id='content' >
        </div>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Author : </span>
            <input type="text" class="form-control" placeholder="Author" aria-label="Username" aria-describedby="basic-addon1" name='author',id='author' >
        </div>
    </div>


        <br>
        <input type="submit" value="post" class="btn btn-success" >
</form>
<hr>

<div class="container jumbotron">
    <h1>Your POSTS :</h1>
    <br>
    {% for post in posts%}
        <h2> <u>{{post.title}}</u></h2>
        <p>{{post.content}}</p>
        <p>{{post.author2}}</p>
        <a href="/post/delete/{{post.id}}/{{post.author2}}" class="btn btn-primary btn-sm active" tabindex="-1" role="button" aria-disabled="true">Delete</a>
        <a href="/post/edit/{{post.id}}/{{post.author2}}" class="btn btn-secondary btn-sm active" role="button" aria-pressed="true">Edit</a>
        <hr>
    {% endfor %}
</div>
{% endblock%}